* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

 :root {
    --main-color: #fff;
    --second-color: #347deb;
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    --facebook-color: rgb(60, 90, 154);
    --google-color: rgb(220, 74, 61);
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 1200px;
    height: 800px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: var(--box-shadow);
    transition-duration: 1s;
}

#left,
#right {
    margin: auto;
    width: 95%;
    height: 96%;
    border-radius: 10px;
}

#left {
    background-image: url("../assets/images/i1.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
}

#login {
    padding-top: 35%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: var(--box-shadow);
}

.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}

.client-info:focus {
    width: 80%;
}

label {
    position: absolute;
    margin: -76px 130px;
    font-size: 12px;
    white-space: nowrap;
    background: #fff;
    padding: 0 5px;
    color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}

#email:focus~label[for="email"] {
    margin: -76px 70px;
}

#password:focus~label[for="password"] {
    margin: -76px 70px;
}

#submit {
    border: none;
    background-color: #0d00ff;
    color: white;
    width: 60%;
}

#submit:hover {
    background-color: #9c91ff;
}

@media (max-width: 1250px) {
    #container {
        width: 600px;
        display: block;
    }
    #left {
        display: none;
    }
    #right {
        margin-top: 16px;
        background-image: url("../assets/images/i2.jpeg");
        background-size: cover;
        background-position: center;
        box-shadow: var(--box-shadow);
    }
}

@media (max-height: 850px) {
    #container {
        width: 1000px;
        height: 600px;
    }
    #login {
        padding-top: 20%;
    }
    #welcome {
        margin-top: 240px;
        font-size: 60px;
    }
    #lorem {
        font-size: 15px;
    }
}